# Nestjs specific
/dist
/node_modules
/build
/tmp

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# dotenv environment variable files
.env
.env.development
.env.test
.env.production
.env.local

# temp directory
.temp
.tmp

# Testing
coverage
.nyc_output
cypress/screenshots
cypress/videos
cypress/downloads
.vitest

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea
*.swp
*.swo
*~
.DS_Store

# Build
*.tsbuildinfo

# Cache
.npm
.eslintcache
.cache

# Debug
*.cpuprofile
*.heapsnapshot